For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

"What, if any, is the significance of change in latency as related to change in ISP"

Ho: latency greater now than before, due to change of providers.
Ha: latency no greater now than before regardless of change of providers.
    
true neg: latency greater than before as expected
true pos: latency no greater than before
false neg: assumed latency greater due to change but isnt
false pos: assumed latency no greater due to change but is

Is the website redesign any good?

"Does the redisgn of the website lead to more engagement"

Ho: redesign leads to more traffic and engagement of users
Ha: redesign doesnt lead to more traffic and engagement

true neg: the redesign expected to improve traffic and does
true pos: the redesign not expected to improve and doesnt
false neg: the redesign expected to increase traffic but doesnt
false pos: the redesign not expected to increase traffic but does

Is our television ad driving more sales?

"Is the relationship between money spent on advertisement and increase of sales stats. sig.?"

Ho: more money on ads = more sales
Ha: more money on ads != more sales

true neg: the increase of expenditure on ads expected to improves sales and does
true pos: the increase of expenditure on ads not expected to improve sales and doesnt
false neg: increase in ad budget expected to increase sales but does not
false pos: increase in ad budget not expected to increase sales but does

Hypothesis Testing cont. (Comparison of Means)

# 1

Is there a difference in grades of students on the second floor compared to grades of all students?

In [2]:
one sample T-test, two tail

SyntaxError: invalid syntax (144836390.py, line 1)

Are adults who drink milk taller than adults who dont drink milk?

In [ ]:
two sample T-test, 1tail because >

Is the the price of gas higher in texas or in new mexico?

In [ ]:
two sample T-test, 1tail because >

Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

In [ ]:
ANOVA test, because multiple means

SyntaxError: invalid syntax (3922526318.py, line 1)

In [1]:
import numpy as np
import pandas as pd
from pydataset import data
import statistics

# 2

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 
A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. 
A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. 
Use a .05 level of significance.

In [ ]:
a = 0.05

t_stat, p_val = stats.ttest_ind(office_1, office_2, equal_var=equal_var)
print(f't-stat: {t_stat}')
print(f'p-value: {p_val}')

# 3

Load the mpg dataset and use it to answer the following questions:

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [ ]:
mpg['avg_fe'] = stats.hmean(mpg[['cty', 'hwy']], axis =1)

In [ ]:
fe_2008 = mpg[mpg.year == 2008].avg_fe
fe_1999 = mpg[mpg.year == 1999].avg_fe

In [ ]:
# test for variance similiarity
fe_2008.var(), fe_1999.var()

In [ ]:
t, p = stats.ttest_ind(fe_2008, fe_1999)
t, p

Are compact cars more fuel-efficient than the average car?

In [ ]:
fe_compact = mpg[mpg['class'] == 'compact'].avg_fe
μ = mpg.avg_fe.mean()

In [ ]:
t, p = stats.ttest_1samp(fe_compact, μ)
t, p/2, alpha

In [ ]:
print(f'''Because p/2 ({p/2:.11f}) < alpha (.05) and t > 0, we reject the null hypothesis.''')

Do manual cars get better gas mileage than automatic cars?

In [ ]:
mpg.trans.value_counts()

In [ ]:
fe_auto = mpg[mpg.trans.str.contains('auto')].avg_fe
fe_manual = mpg[mpg.trans.str.contains('manual')].avg_fe

In [ ]:
fe_auto.var(), fe_manual.var()

In [ ]:
stats.levene(fe_auto, fe_manual)

In [ ]:
t, p = stats.ttest_ind(fe_manual, fe_auto, equal_var = True)
t, p/2, alpha

In [ ]:
mpg['transmission_type'] = np.where(mpg.trans.str.contains('auto'), 'Auto Transmission', 'Manual Transmission')



plt.figure(figsize=(9,6))
mpg.groupby('transmission_type').avg_fe.mean().plot.bar()
plt.xticks(rotation=0)
plt.xlabel('')
plt.ylabel('Average mileage')
plt.title('Is mileage different by transmission type?')

## Correlation

In [2]:
import seaborn as sns

# 1

Answer with the type of stats test you would use (assume normal distribution)

Is there a relationship between the length of your arm and the length of your foot?

In [ ]:
pearsons r

Do guys and gals quit their jobs at the same rate?

In [ ]:
chi squared

Does the length of time of the lecture correlate with a students grade?

In [ ]:
pearsons r

# 2

Use the telco_churn data. 

Does tenure correlate with monthly charges?

In [7]:
from env import get_db_url
import pandas as pd

In [4]:
url = get_db_url('telco_churn')

In [11]:
pd.read_sql('SELECT * FROM customers', url)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,No,Yes,Yes,No,2,Yes,2,65.60,593.3,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,No,No,No,Yes,1,No,2,59.90,542.4,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,Yes,No,No,No,1,Yes,1,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,Yes,No,Yes,Yes,1,Yes,1,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,No,Yes,Yes,No,1,Yes,2,83.90,267.4,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,1,Yes,...,No,Yes,No,No,2,No,2,55.15,742.9,No
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,2,No,...,No,No,No,Yes,1,Yes,1,85.10,1873.7,Yes
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,1,No,...,No,No,No,No,1,Yes,2,50.30,92.75,No
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,1,Yes,...,Yes,Yes,No,Yes,3,No,2,67.85,4627.65,No
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,1,Yes,...,Yes,No,Yes,Yes,3,No,1,59.00,3707.6,No

In [19]:
tenure_df = pd.read_sql('SELECT tenure FROM customers', url)
month_charge = pd.read_sql('SELECT monthly_charges FROM customers', url)


tenure_df.describe()
month_charge.describe()

       monthly_charges
count      7043.000000
mean         64.761692
std          30.090047
min          18.250000
25%          35.500000
50%          70.350000
75%          89.850000
max         118.750000

In [3]:
from scipy import stats

corr, p = stats.pearsonr(tenure_df, month_charge)
corr, p

NameError: name 'tenure_df' is not defined

# Use the employees database.

Is there a relationship between how long an employee has been with the company and their salary?

In [ ]:
def get_db_url(db):
    from env import username, password, host
    return f'mysql+pymysql://{username}:{password}@{host}/{db}'

url = get_db_url("employees")




sql = """
select datediff(curdate(), hire_date) as days_on_job, salary
from employees
join salaries using(emp_no)
where to_date > curdate();
"""

In [ ]:
df = pd.read_sql(sql, url)

In [ ]:

alpha = 0.05
corr, p = stats.pearsonr(df.days_on_job, df.salary)

if p < alpha:
    print("We reject the null hypothesis")
    print("Evidence supports the claim that there is a linear correlation")
else:
    print("We fail to reject the null hypothesis")

corr, p

Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [ ]:
sql = """
select emp_no, count(title) as title_count, datediff(curdate(), hire_date) as days_on_job
from employees
join titles using(emp_no)
group by emp_no;
"""

df = pd.read_sql(sql, url)

In [ ]:
corr, p = stats.pearsonr(df.days_on_job, df.title_count)

if p < alpha:
    print("We reject the null hypothesis")
    print("Evidence supports the claim that there is a linear correlation between tenure and number of titles")
else:
    print("We fail to reject the null hypothesis")

corr, p

# Use the sleepstudy data.

Is there a relationship between days and reaction time?

In [ ]:
from pydataset import data
df = data("sleepstudy")

In [ ]:
corr, p = stats.pearsonr(df.Days, df.Reaction)

if p < alpha:
    print("We reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

corr, p

# Answer with the type of stats test you would use (assume normal distribution):


    Do students get better test grades if they have a rubber duck on their desk?:
    
    
    Does smoking affect when or not someone has lung cancer?:
    
    Is gender independent of a person’s blood type?:
    
    A farming company wants to know if a new fertilizer has improved crop yield or not:
    
    Does the length of time of the lecture correlate with a students grade?:
    
    Do people with dogs live in apartments more than people with cats?

Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.


    codeup.       not codeup
     mac  49        20
    nomac 1         30

In [ ]:
index = ["Uses Macbook", "Doesn't Macbook"]
columns = ["Codeup Student", "Not Codeup Student"]

observed = pd.DataFrame([[49, 20], [1, 30]], index=index, columns=columns)
observed


alpha = 0.05

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(observed)
p



if p < α:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null")

Choose another 2 categorical variables from the mpg dataset and perform a chi2 contingency table test with them. Be sure to state your null and alternative hypotheses.

null: vehicle type is independent of transmission type
alternate: vehicle type is dependent of transmission type

In [ ]:
df = data("mpg")

df = df.rename(columns={"class": "vehicle_type"})

df["is_automatic"] = df.trans.str.startswith("a")

In [ ]:
observed = pd.crosstab(df.vehicle_type, df.is_automatic)
chi2, p, degf, expected = stats.chi2_contingency(observed)
p


if p < α:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null")

# Use the data from the employees database to answer these questions:

Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)

In [ ]:
from env import get_db_url



sql = """
SELECT gender, dept_name
FROM employees
JOIN dept_emp using(emp_no)
JOIN departments using(dept_no)
WHERE to_date > curdate()
AND dept_name IN ('Sales', 'Marketing')
"""

url = get_db_url("employees")

df = pd.read_sql(sql, url)

In [ ]:

observed = pd.crosstab(df.gender, df.dept_name)
observed

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(observed)
if p < α:
    print("Reject the null")
else:
    print("Fail to reject the null")

Is an employee's gender independent of whether or not they are or have been a manager?

In [ ]:
sql = """
SELECT gender, title, emp_no
FROM employees
JOIN titles using(emp_no)
"""

df = pd.read_sql(sql, url)

df["is_manager"] = df.title == "Manager"

In [ ]:
observed = pd.crosstab(df.gender, df.is_manager)
observed



chi2, p, degf, expected = stats.chi2_contingency(observed)
p

if p < alpha:
    print("Reject the null")
else: 
    print("Fail to reject the null")