For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

"What, if any, is the significance of change in latency as related to change in ISP"

Ho: latency greater now than before, due to change of providers.
Ha: latency no greater now than before regardless of change of providers.
    
true neg: latency greater than before as expected
true pos: latency no greater than before
false neg: assumed latency greater due to change but isnt
false pos: assumed latency no greater due to change but is

Is the website redesign any good?

"Does the redisgn of the website lead to more engagement"

Ho: redesign leads to more traffic and engagement of users
Ha: redesign doesnt lead to more traffic and engagement

true neg: the redesign expected to improve traffic and does
true pos: the redesign not expected to improve and doesnt
false neg: the redesign expected to increase traffic but doesnt
false pos: the redesign not expected to increase traffic but does

Is our television ad driving more sales?

"Is the relationship between money spent on advertisement and increase of sales stats. sig.?"

Ho: more money on ads = more sales
Ha: more money on ads != more sales

true neg: the increase of expenditure on ads expected to improves sales and does
true pos: the increase of expenditure on ads not expected to improve sales and doesnt
false neg: increase in ad budget expected to increase sales but does not
false pos: increase in ad budget not expected to increase sales but does

Hypothesis Testing cont. (Comparison of Means)

# 1

Is there a difference in grades of students on the second floor compared to grades of all students?

In [2]:
one sample T-test, two tail

SyntaxError: invalid syntax (144836390.py, line 1)

Are adults who drink milk taller than adults who dont drink milk?

In [ ]:
two sample T-test, 1tail because >

Is the the price of gas higher in texas or in new mexico?

In [ ]:
two sample T-test, 1tail because >

Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

In [ ]:
ANOVA test, because multiple means

SyntaxError: invalid syntax (3922526318.py, line 1)

# 2

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 
A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. 
A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. 
Use a .05 level of significance.

# ABOVE FILL IN REST OF HYPO_TEST

## Correlation

# 1

Answer with the type of stats test you would use (assume normal distribution)

Is there a relationship between the length of your arm and the length of your foot?

In [ ]:
pearsons r

Do guys and gals quit their jobs at the same rate?

In [ ]:
chi squared

Does the length of time of the lecture correlate with a students grade?

In [ ]:
pearsons r

# 2

Use the telco_churn data. 

Does tenure correlate with monthly charges?

In [7]:
from env import get_db_url
import pandas as pd

In [4]:
url = get_db_url('telco_churn')

In [11]:
pd.read_sql('SELECT * FROM customers', url)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,No,Yes,Yes,No,2,Yes,2,65.60,593.3,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,No,No,No,Yes,1,No,2,59.90,542.4,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,Yes,No,No,No,1,Yes,1,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,Yes,No,Yes,Yes,1,Yes,1,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,No,Yes,Yes,No,1,Yes,2,83.90,267.4,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,1,Yes,...,No,Yes,No,No,2,No,2,55.15,742.9,No
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,2,No,...,No,No,No,Yes,1,Yes,1,85.10,1873.7,Yes
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,1,No,...,No,No,No,No,1,Yes,2,50.30,92.75,No
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,1,Yes,...,Yes,Yes,No,Yes,3,No,2,67.85,4627.65,No
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,1,Yes,...,Yes,No,Yes,Yes,3,No,1,59.00,3707.6,No

In [19]:
tenure_df = pd.read_sql('SELECT tenure FROM customers', url)
month_charge = pd.read_sql('SELECT monthly_charges FROM customers', url)


tenure_df.describe()
month_charge.describe()

       monthly_charges
count      7043.000000
mean         64.761692
std          30.090047
min          18.250000
25%          35.500000
50%          70.350000
75%          89.850000
max         118.750000

In [23]:
from scipy import stats

corr, p = stats.pearsonr(tenure_df, month_charge)
corr, p

ValueError: shapes (7043,1) and (7043,1) not aligned: 1 (dim 1) != 7043 (dim 0)